<div class="brist">
  <table class="cards">
    <tbody>
      <tr>
        <td>
        </td>
        <td class="hand-n">
        <%= erb :hand, locals: {hand: deal.n, direction_class: seat_class(dealer, vulnerable, "N"), abbr: dealer == "N" ? "D" : "N", name: "North"} -%>
        </td>
        <td></td>
      </tr>
      <tr>
        <td class="hand-w">
        <%= erb :hand, locals: {hand: deal.w, direction_class: seat_class(dealer, vulnerable, "W"), abbr: dealer == "W" ? "D" : "W", name: "West"} -%>
        </td>
        <td></td>
        <td class="hand-e">
        <%= erb :hand, locals: {hand: deal.e, direction_class: seat_class(dealer, vulnerable, "E"), abbr: dealer == "E" ? "D" : "E", name: "East"} -%>
        </td>
      </tr>
      <tr>
        <td></td>
        <td class="hand-s">
        <%= erb :hand, locals: {hand: deal.s, direction_class: seat_class(dealer, vulnerable, "S"), abbr: dealer == "S" ? "D" : "S", name: "South"} -%>
        </td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <table class="auction">
    <tr>
      <th class="<%= vulnerable?(vulnerable, 'W') ? 'vulnerable' : 'non-vulnerable' %>">W</th>
      <th class="<%= vulnerable?(vulnerable, 'N') ? 'vulnerable' : 'non-vulnerable' %>">N</th>
      <th class="<%= vulnerable?(vulnerable, 'E') ? 'vulnerable' : 'non-vulnerable' %>">E</th>
      <th class="<%= vulnerable?(vulnerable, 'S') ? 'vulnerable' : 'non-vulnerable' %>">S</th>
    </tr>
    <% (bids_offset(dealer) + auction.bids).each_slice(4).each do |slice| -%>
    <tr>
      <% slice.each do |bid| -%>
      <td><%= bid_tag(bid) if bid != "" -%></td>
      <% end -%>
    </tr>
    <% end -%>
  </table>
</div>
