<div class="brist">
  <div class="column">
  <table>
    <tbody>
      <tr>
        <td>
        </td>
        <td class="hand-n">
          <%= erb :hand, locals: {hand: deal.n} %>
        </td>
        <td></td>
      </tr>
      <tr>
        <td class="hand-w">
          <%= erb :hand, locals: {hand: deal.w} %>
        </td>
        <td class="<%= ["directions", "vulnerable-#{vulnerable}", "dealer-#{dealer}"].join(' ') %>">
          <span class="badge direction-N"> N </span></br>
          <span class="badge direction-W"> W </span><span class="badge direction-E"> E </span> </br>
          <span class="badge direction-S"> S </span>
        </td>
        <td class="hand-e">
          <%= erb :hand, locals: {hand: deal.e} %>
        </td>
      </tr>
      <tr>
        <td></td>
        <td class="hand-s">
          <%= erb :hand, locals: {hand: deal.s} %>
        </td>
        <td></td>
      </tr>
    </tbody>
  </table>
  </div>
  <div class="auction">
    <table>
      <tr>
        <th>W</th>
        <th>N</th>
        <th>E</th>
        <th>S</th>
      </tr>
      <% (bids_offset(dealer) + auction.bids).each_slice(4).each do |slice| %>
        <tr>
          <% slice.each do |bid| %>
            <td><%= bid %></td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
</div>
